:root {
    --darkish-pink: #d04b9b;
    --cool-grey: #93a4a9;
    --dusty-orange: #f47e3d;
    --dark-sky-blue: #64cae1;
    --silver: #c0c6c8;
    --white: #ffffff;
    --dark: #2d2d42;
    --pale-grey: #f4f4f7;
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/fonts/Roboto-Black.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
    src: url("/fonts/Roboto-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-style: lighter;
    font-weight: 300;
    src: url("/fonts/Roboto-Light.ttf");
    font-display: swap;
}
.grey {
    color: var(--pale-grey);
}
.dark {
    color: var(--dark);
}
*, *::after, *::before {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    background: var(--pale-grey);
}
.b-container {
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
}
.b-header {
    position: absolute;
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.b-header__list li {
    display: inline-block;
}
.b-header__link a{
    text-decoration: none;
    color: var(--pale-grey);
    margin-right:50px;
}
.b-promo {
    background-image: url(/img/bg-img-header.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 1180px;
    height: 680px;
}
.b-header__languages, .b-header__lang {
    display: inline-block;
    position: relative;
}
.b-header__lang {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 16px;
}
.b-header__lang:hover {
    border: 1px solid white;
}
.b-header__languages:last-child {
    margin-right:0;
}
