@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/fonts/Roboto-Black.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
    src: url("/fonts/Roboto-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-style: lighter;
    font-weight: 300;
    src: url("/fonts/Roboto-Light.ttf");
    font-display: swap;
}
.grey {
    color: #f4f4f7;
}
.dark {
    color: #2d2d42;
}
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #f4f4f7;
}
.b-container {
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
}
.b-header {
    position: absolute;
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.b-header__list li {
    display: inline-block;
}
.b-header__link a{
    text-decoration: none;
    color: #f4f4f7;
    margin-right:50px;
}
.b-promo {
    position: relative;
    background-image: url("../img/bg-img-header.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 100%;
    height: 680px;
    margin-bottom: 100px;
    padding: 172px 200px 0 200px;
    box-sizing: border-box;
}
.b-header__languages, .b-header__lang {
    display: inline-block;
    position: relative;
    color: #f4f4f7;
}
.b-header__lang {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 16px;
}
.b-header__lang:hover {
    cursor: pointer;
    border: 1px solid #f4f4f7;
}
.b-header__languages:last-child {
    margin-right:0;
}
.title {
    font-size: 60px;
    line-height: 65px;
    letter-spacing:-0.75px;
    color: #2d2d42;
    font-weight: 900;
    margin-bottom: 30px;
}
.subtitle{
    margin:0;
    font-weight: 300;
    font-style: lighter;
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
    letter-spacing:0;
    margin-bottom: 78px;
}
.b-promo__title {
    color: #f4f4f7;
}
.b-promo__subtitle {
    color: #f4f4f7;
}
a.b-contact-us {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 50%;
    height: 80px;
    text-decoration: none;
    color: #f4f4f7;
    border: solid 1px rgba(244, 244, 247, 0.1);
}
.b-contact-us {
    position: relative;
}
.b-contact-us_cont {
    size:20px;
    line-height: 30px;
    padding: 25px 100px  0 200px;
    position: relative;
    display: inline-block;
}
svg {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 85%;
}
.b-professionalism {
    background-color: #ffffff;
    width: 100%;
}
.b-professionalism__title {
    color: #2d2d42;
    padding-top: 90px;
}
.b-professionalism {
    background-color: #ffffff;
    width: 100%;
    padding: 90px 100px 0 200px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.b-professionalism__title {
    padding:0;
    width: 780px
}
h2 {
    margin:0;
    padding:0;
}
.b-professionalism__subtitle {
    color: #2d2d42;
    margin-bottom: 85px;
    line-height: 40px;
    font-size:30px;
}
.b-professionalism__pros {
    display:flex;
    margin-bottom: 70px;
}
.b-professionalism__plus {
    margin-right: 60px;
}
.circle-text {
    width:240px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #2d2d42;
    letter-spacing: 0;
}
.cirle-blue, .cirle-orange, .cirle-purple {
    width: 90px;
    height: 90px;
    background-color: #63c9e0;
    background-image: url("../icons/ic-project.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius:50%;
    margin-bottom: 30px;
}
.cirle-orange{
    background-color: #f47e3d;
    background-image: url("../icons/ic-hire.svg");
    background-position: 59% 50%;
}
.cirle-purple {
    background-color: #d04b9b;
    background-position: 50% 40%;
    background-image: url("../icons/ic-digital.svg");
}
.wwd {
    font-size:60px;
    line-height:65px;
    letter-spacing: -0.75px;
    color:#c0c6c8;
    margin-bottom: 75px;
    position: relative;
}
.wwd__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.wwd__list li {
    list-style: none;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d42;
    display:inline-block;
    width: 380px;
    margin-bottom: 30px;
}
.wwd__list li:nth-child(1), .wwd__list li:nth-child(2) {
    margin-bottom: 20px;
}
.wwd__list li:last-child {
    margin-bottom: 137px;
}
.wwd__list li::before {
    content:"";
    position: absolute;
    top: 15px;
    left: -60px;
    width: 30px;
    height: 1px;
    background-color: #64cae1;
}
.b-ourwork {
    margin:0;
    margin-bottom: 100px;
}
.b-ourwork__cards {
    display: flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    width: 1180px;
}
.b-ourwork__big {
    width: 1180px;
    height:600px;
}
.b-ourwork__big_first {
    background: url("../img/vid-birdieeyes.jpg") no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
}
.b-ourwork__small {
    width: 50%;
    box-sizing:border-box;
}
.b-ourwork__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size:13px;
    line-height: 20px;
    letter-spacing:1.73px;
    margin-bottom: 50px
}
.b-ourwork__description {
    font-size:30px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 300;
}
.b-ourwork .title, .b-ourwork .subtitle {
    padding: 0 130px 0 200px;
}
.b-ourwork__square {
    position:relative;
    box-sizing:border-box;
    width: 380px;
    height: 380px;
    padding: 40px 40px 0 40px;
    background-color: #f4f4f7;
}
.b-ourwork__square_white {
    color: #f4f4f7;
    background-color: #64cae1;
    margin-bottom: 39px;
    position: absolute;
    top:200px;
    left:200px;
}
.small-img {
    margin-top: 20px;
    width: 580px;
}
.image {
    margin:0;
    padding:0;
}
.b-ourwork__big_last {
    background: url("../img/img-team-home.jpg") no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
}
.b-ourwork__square_black {
    position: absolute;
    top: 200px;
    left: 600px;
}
.inside {
    padding: 0 130px 0 200px;
    position: relative;
}
.insidesquare {
    position: absolute;
    left: -40px;
    bottom:0px;
    box-sizing:border-box;
    width: 380px;
    height: 380px;
    padding: 40px 40px 0 40px;
    background-color: #f4f4f7;
    background: url("../icons/TC.svg") no-repeat;
    background-position: 45px 305px;
}